@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
	box-sizing: border-box;
	color: white;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

:root {
	--primary: #161414;
	--shadow: #201d1d;
	--accent: #38a3a5;
	--text: #edf2f4;
	--dark: #0e0e0e;
}

body,
html,
#root {
	height: 100%;
	width: 100%;
}

body {
	background-color: var(--dark);
}

.container {
	margin: 3% 7%;
	display: flex;
}

.forms-container,
.cv-viewer {
	display: flex;
	flex-direction: column;
	width: 50%;
}

form > div {
	display: flex;
	flex-direction: column;
	border-radius: 150px;
	margin-top: 20px;
	padding: 55px;
	background-color: var(--primary);
	font-weight: bold;
	border-bottom: 20px solid var(--shadow);
	border-right: 40px solid var(--shadow);
}

form > div > div {
	display: flex;
	flex-direction: column;
}

.label {
	font-size: 0.85rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 15px 0 2px 0;
	font-weight: 600;

	color: var(--text);
}

input,
textarea {
	padding: 5px;
	border-radius: 5px;
	background-color: var(--dark);
	border: 0;
}

input {
	height: 40px;
}

button {
	color: var(--text);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.1rem;
	background-color: black;
	border: 0;
	border-radius: 15px;
	height: 45px;
	margin-top: 20px!important;
	transition: 0.2s;
}

button:hover {
	filter: saturate(1.4);
	transition: 0.2s;
}

.edit-button {
	background-color: #d35400;
}

.cv-viewer {
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 0 0;
	grid-auto-flow: row;
	grid-template-areas:
		'general-view-container experience-view-container'
		'general-view-container education-view-container';
	background-color: var(--primary);
	margin-left: 15px;
	border-radius: 7px;
	height: 100vh;
}

.experience-view-container {
	grid-area: experience-view-container;
	padding: 30px 50px 0 20px;
}

.experience-view-container > div {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;

	align-items: center;
}

.education-view-container {
	grid-area: education-view-container;
	padding: 30px 50px 0 20px;
}

.general-view-container {
	grid-area: general-view-container;
	padding: 30px 20px 0 50px;
	border-right: 1px solid black;
}

p {
	margin: 3px 0;
}

/* Experience */

.company,
.position {
	font-weight: 700;
}

.company {
	text-transform: uppercase;
}

.work-info-container {
	box-shadow: rgba(0, 0, 0, 0.15) 0 3px 3px 0;
	padding: 7px 10px;
	background-color: var(--dark);
}

.position {
	color: #16a085;
}

.work-date > p {
	font-size: 0.8rem;
}

.work-info {
	flex: 1;
	padding-left: 15px;
}

.edit-button {
	background-color: #e67e22;
}

/* General viewer */

.first-name,
.last-name {
	font-size: 1.2rem;
}
.last-name {
	font-weight: 600;
	text-transform: uppercase;
}
